/* ========|| Custom Properties ||======== */
:root {
  --clr-primary-gradient: hsl(6, 100%, 80%), hsl(335, 100%, 65%);

  --clr-neutral-100: hsl(0, 0%, 95%);
  --clr-neutral-300: hsl(243, 100%, 93%);
  --clr-neutral-500: hsl(229, 7%, 55%);
  --clr-neutral-700: hsl(228, 56%, 26%);
  --clr-neutral-900: hsl(229, 57%, 11%);

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-base: "Raleway", sans-serif;

  --spacing-xsmall: 0.25rem;
  --spacing-small: 0.5em;
  --spacing-regular: 1em;
  --spacing-semi-medium: 1.5em;
  --spacing-medium: 2em;
  --spacing-semi-large: 2.5em;
  --spacing-large: 3em;
  --spacing-xlarge: 6em;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;
}

/* ===============|| Reset ||============= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  vertical-align: middle;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p {
  overflow-wrap: break-word;
  max-width: 60ch; /* or 75ch */
  text-wrap: pretty; /*prevent alone words*/
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
  text-wrap: balance;
}

/* ========|| General Styling ||========= */
body {

  font-family: var(--ff-base);
  background: url(images/bg-mobile.png) no-repeat;
  background-size:cover;
  color: var(--clr-neutral-300);
}
/* ==========|| Main Styling ||========== */
.main {
  margin: var(--spacing-xlarge) var(--spacing-semi-medium);
  display: grid;
  gap: var(--spacing-regular);
  max-width: 70%;
  margin-inline: auto;
}

.header, .storage-info {
  padding: var(--spacing-semi-large);
  background-color: var(--clr-neutral-700);
}

.header {
  border-radius: .75em 7em .75em .75em;
}

.header__logo {
  margin-bottom: var(--spacing-semi-large);
}
.header__icons {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.25em;
  height: 3.25em;
  background-color: var(--clr-neutral-900);
  border-radius: .75em;
}

.storage-info {
  position: relative;
  border-radius: .75em;
}
.storage-info__progress-container {
  background-color: hsl(from var(--clr-neutral-900) h s l / .5);
  height: 1.3em;
  padding: .25em;
  border-radius: 100vh;
  margin-bottom: var(--spacing-small);

}
.storage-info__progress-visual {
  background: linear-gradient(to right, var(--clr-primary-gradient));
  height: 1em;
  border-radius: 100vh;
  max-width: 75%;
  display: flex;
  align-items: center;
  padding: .15em;
}
.storage-info__circle-visual {
  background-color: var(--clr-neutral-300);
  width: .75em;
  aspect-ratio: 1 / 1;
  border-radius: 100vh;
  margin-left: calc(100% - .75em);
}
.storage-info__usage {
  color: hsl(from var(--clr-neutral-300) h s l / .7);
  margin-bottom: var(--spacing-regular);
}
.storage-info__usage span {
  color: var(--clr-neutral-300);
  font-weight: var(--fw-bold);
}
.storage-info__remaining-container {
  background-color: var(--clr-neutral-100);
  display: flex;
  position: absolute;
  inset: 80% 0 9em 50%;
  padding: var(--spacing-xsmall);
  transform: translateX(-50%);
  max-width: 12em;
  min-width: 11em;
  height: 5em;
  align-items: center;
  justify-content: center;
  border-radius: .75em;
}

.storage-info__remaining {

  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-size: var(--fs-300);
  color: var(--clr-neutral-500);
  display: flex;
  align-items: center;
  gap: .5em;
  letter-spacing: 1px;
}
.storage-info__remaining span {
  font-size: var(--fs-800);
  color: var(--clr-neutral-900);
}
.storage-info__progress {
  font-weight: var(--fw-bold);
  display: flex;
  font-size: var(--fs-300);
  justify-content: space-between;
  margin-bottom: var(--spacing-regular);
}
/* ============|| Utilities ||=========== */

/* ===========|| Breakpoints ||========== */
/* @media (min-width: 505px) {
  .storage-info__remaining-container {
    inset: 9em 0 9em 50%;
  }
} */
@media (min-width: 800px) {
  body {
    place-content: center;
  }
  .main {
    grid-template-columns: 1fr 3fr;
  }
  .header {
    max-width: 22.5em;
    min-width: 20em;
  }
  .storage-info__remaining-container {
    inset: -3em 0 0 95%;
    transform: translate(-95%);
  }
}